/out/production/collections-java/.idea/.gitignore
/out/production/collections-java/.idea/collections-java.iml
/out/production/collections-java/src/main/java/generics/GenericsExempleList.class
/out/production/collections-java/src/main/java/generics/GenericsExempleSet.class
/out/production/collections-java/src/main/java/generics/JavaGenericTypes.class
/out/production/collections-java/.idea/misc.xml
/out/production/collections-java/.idea/modules.xml
/out/production/collections-java/README.md
/out/production/collections-java/.idea/uiDesigner.xml
/out/production/collections-java/.idea/vcs.xml
